body{
    text-align: center;
}

div{
    margin: auto;
    padding: 50px;
    width: 200px;
    background: royalblue;
    border-radius: 10px;

}

button{
    padding: 12px;
    width: 100%;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}